body{
    color:#CBD2D9;
    margin:0;
    font-family: 'Nanum Myeongjo', serif;
    font-weight: bold;
}

h1{
    color: #EFC9A4;
    font-size: 75px;
}

button{
    background-color: #EFC9A4;
    border: none;
    border-radius: 25px;
    height: 30px;
    width:100px;
    font-weight: bold;
    cursor:pointer;
}

.read{
    background-color: rgb(56, 100, 79);
    color:#CBD2D9;
    border: 1px solid rgb(44, 44, 44);
}

.not-read{
    background-color: rgb(110, 58, 58);
    border: 1px solid rgb(44, 44, 44);
    color:#CBD2D9;
}

.container{
    min-height:100vh;
    display: flex;
    flex-direction: column;
}

.header{
    height:250px;
    background-color: #1F2933;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo{
    display: flex;
    align-items: center;
}

.books{
    height:100px;
    padding-right: 15px;
}

.popup{
    position: absolute;
    z-index: 1;
    top:-150%;
    left:50%;
    opacity: 0;
    transform:translate(-50%,-50%) scale(1.25);
    width:300px;
    height:400px;
    background-color: #616E7C;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
    padding: 10px 30px;
    transition: top 0ms ease-in-out 200ms,
                opacity 200ms ease-in-out 0ms 
                transform 20ms ease-in-out 0ms;
}

.popup.active{
    top:50%;
    opacity: 1;
    transform:translate(-50%,-50%) scale(1);
    transition: top 0ms ease-in-out 0ms,
                opacity 200ms ease-in-out 0ms 
                transform 20ms ease-in-out 0ms;
}

.popup .close-btn{
    position:absolute;
    top:10px;
    right:10px;
    width:15px;
    height:15px;
    cursor:pointer;
}

.popup .form h2{
    text-align: center;
    color: #EFC9A4;
    font-size: 25px;
}

.popup .form .form-element{
    margin: 15px 0px;
}

.popup .form .form-element input[type="text"],
.popup .form .form-element input[type="number"]{
    margin-top:5px;
    display:block;
    width:275px;
    padding: 10px;
    border:1px solid rgb(86, 93, 100);
    border-radius: 5px;
}

.popup .form .form-element input[type="checkbox"]{
    margin-right:5px;
}

.popup .form .form-element button{
    width:100%;
    
}

.main{
    background-color: #222222;
    min-height: 100%;
    padding-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
}

.card{
    background-color: #3A424C;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
    margin:30px 0px 0px 30px;
    height:300px;
    max-width: 200px;
    min-width: 200px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position:relative;
}

.delete{
    background-color: transparent;
    position:absolute;
    top:10px;
    right:10px;
    width: 30px;
    
}

.book-info{
    display: flex;  
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
}


.spacer{
    background-color: #222222;
    flex:1;
}

.footer{
    height:75px;
    background-color: #1F2933;
    display:flex;
    justify-content: center;
    align-items: center;
    color: #CBD2D9;
}